XI_API_KEY=sk_your_elevenlabs_api_key
ELEVENLABS_VOICE_ID=your_default_voice_id
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
DEFAULT_FORMAT="pcm_24000"
DEFAULT_CONTENT_TYPE="audio/wav"
ALLOWED_IPS=
CHAR_LIMIT=2000
